{% extends 'base.html.twig' %}

{% block body %}

    <h1>{% trans %}list.title.list{% endtrans %} <a class="btn btn-success"
                                                    href="{{ path('wishlist_create') }}">{% trans %}add{% endtrans %}</a>
    </h1>

    <hr>

    {% if wishLists == null %}
        <p>No list</p>
    {% else %}
        <div class="table-responsive">
            <table id="datatable-table" class="table table-hover">
                <thead>
                <tr>
                    <th>{% trans %}index{% endtrans %}</th>
                    <th>{% trans %}list.name{% endtrans %}</th>
                    <th>{% trans %}list.occasion{% endtrans %}</th>
                    <th>{% trans %}action{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for wishList in wishLists %}
                    <tr>
                        <td scope="row">
                            {{ loop.index }}
                        </td>
                        <td>
                            {{ wishList.name }}
                        </td>
                        <td>
                            {{ wishList.occasion }}
                        </td>
                        <td>
                            <a class="btn btn-info"
                               href="{{ path('wishlist_show', {'id': wishList.id}) }}">{% trans %}show{% endtrans %}</a>
                            <a class="btn btn-warning"
                               href="{{ path('wishlist_edit', {'id': wishList.id}) }}">{% trans %}edit{% endtrans %}</a>
                            <a class="btn btn-danger delete-item"
                               href="{{ path('wishlist_delete', {'id': wishList.id}) }}">{% trans %}delete{% endtrans %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/my-datatable.js') }}"></script>
    <script type="text/javascript">
        $('.delete-item').click(function (e) {
            e.preventDefault();
            let link = $(this).attr('href');

            swal({
                title: "{% trans %}delete.title{% endtrans %}",
                text: "{% trans %}delete.text{% endtrans %}",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "{% trans %}cancel{% endtrans %}",
                        value: null,
                        visible: true,
                        className: "btn btn-danger",
                        closeModal: true,
                    },
                    confirm: {
                        text: "{% trans %}validate{% endtrans %}",
                        value: true,
                        visible: true,
                        className: "btn btn-success",
                        closeModal: true
                    }
                },
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    window.location.href = link;
                }
            });
        });
    </script>
{% endblock %}