{% extends 'base.html.twig' %}

{% block body %}
    <h3>
        {{ wishlist }}
    </h3>
    <div><p>{{ wishlist.occasion }}</p></div>
    <div>
        {% for item in wishlist.items %}
            {{ item.name }}
        {% endfor %}
    </div>

    <div>
        <a class="btn btn-cancel" href="{{ path('wishlist_list') }}">Retour</a>
        <a class="btn btn-warning" href="{{ path('wishlist_edit', {'id':wishlist.id}) }}">edit</a>
    </div>
{% endblock %}

