<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('wish_list_list') }}">NSP4</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown {{ active(['wish_list_list','wish_list_create']) }}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans %}menu.wishlist{% endtrans %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item {{ active('wish_list_list') }}"
                       href="{{ path('wish_list_list') }}">{% trans %}menu.list.list{% endtrans %}</a>
                    <a class="dropdown-item {{ active('wish_list_create') }}"
                       href="{{ path('wish_list_create') }}">{% trans %}menu.list.create{% endtrans %}</a>
                </div>
            </li>
            <li class="nav-item {{ active('admin') }}">
                <a class="nav-link" href="{{ path('admin') }}">{% trans %}menu.admin{% endtrans %}</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link {{ locale('fr') }}"
                   href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale':'fr'})) }}">FR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ locale('en') }}"
                   href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale':'en'})) }}">EN</a>
            </li>
        </ul>
    </div>
</nav>